# soft links
meshdata
experiments
graspdata
dataset

# Caches
__pycache__
grasp_generation/mjcf/contact_points_inspire.json
grasp_generation/mjcf/inspire_free_dexgraspnet.xml
grasp_generation/mjcf/inspire_free.xml
grasp_generation/mjcf/penetration_points_inspire.json
grasp_generation/mjcf/scene.xml
grasp_generation/mjcf/shadow_hand_wrist_free.xml
grasp_generation/mjcf/meshes/.asset_hash
grasp_generation/mjcf/meshes/base_link.STL
grasp_generation/mjcf/meshes/box.obj
grasp_generation/mjcf/meshes/camera_connector.stl
grasp_generation/mjcf/meshes/config.yaml
grasp_generation/mjcf/meshes/connector.stl
grasp_generation/mjcf/meshes/display_arm.rviz
grasp_generation/mjcf/meshes/F1.obj
grasp_generation/mjcf/meshes/F2.obj
grasp_generation/mjcf/meshes/F3.obj
grasp_generation/mjcf/meshes/forearm_cvx.obj
grasp_generation/mjcf/meshes/forearm_electric_cvx.obj
grasp_generation/mjcf/meshes/forearm_electric.obj
grasp_generation/mjcf/meshes/forearm.obj
grasp_generation/mjcf/meshes/frame__.obj
grasp_generation/mjcf/meshes/frame_.obj
grasp_generation/mjcf/meshes/frame.obj
grasp_generation/mjcf/meshes/inspire_calib.xml
grasp_generation/mjcf/meshes/inspire_free.xml
grasp_generation/mjcf/meshes/inspire_hand_l.urdf
grasp_generation/mjcf/meshes/knuckle.obj
grasp_generation/mjcf/meshes/lfmetacarpal.obj
grasp_generation/mjcf/meshes/Link1.STL
grasp_generation/mjcf/meshes/Link2.STL
grasp_generation/mjcf/meshes/Link3.STL
grasp_generation/mjcf/meshes/Link4.STL
grasp_generation/mjcf/meshes/Link5.STL
grasp_generation/mjcf/meshes/Link6.STL
grasp_generation/mjcf/meshes/Link7.STL
grasp_generation/mjcf/meshes/mjmodel.mjb
grasp_generation/mjcf/meshes/mjmodel.xml
grasp_generation/mjcf/meshes/palm.obj
grasp_generation/mjcf/meshes/R_hand_base_link.STL
grasp_generation/mjcf/meshes/R_index_distal.STL
grasp_generation/mjcf/meshes/R_index_proximal.STL
grasp_generation/mjcf/meshes/R_middle_distal.STL
grasp_generation/mjcf/meshes/R_middle_proximal.STL
grasp_generation/mjcf/meshes/R_pinky_distal.STL
grasp_generation/mjcf/meshes/R_pinky_proximal.STL
grasp_generation/mjcf/meshes/R_ring_distal.STL
grasp_generation/mjcf/meshes/R_ring_proximal.STL
grasp_generation/mjcf/meshes/R_thumb_distal.STL
grasp_generation/mjcf/meshes/R_thumb_intermediate.STL
grasp_generation/mjcf/meshes/R_thumb_proximal_base.STL
grasp_generation/mjcf/meshes/R_thumb_proximal.STL
grasp_generation/mjcf/meshes/realman_inspire_free.xml
grasp_generation/mjcf/meshes/realman_inspire_mjmodel_origin.xml
grasp_generation/mjcf/meshes/realman_inspire_mjmodel_text.urdf
grasp_generation/mjcf/meshes/realman_inspire_mjmodel_textured.urdf
grasp_generation/mjcf/meshes/realman_inspire_mjmodel_tool0.xml
grasp_generation/mjcf/meshes/realman_inspire_mjmodel.urdf
grasp_generation/mjcf/meshes/realman_inspire_mjmodel.xml
grasp_generation/mjcf/meshes/realman_mjmodel.mjb
grasp_generation/mjcf/meshes/realman_mjmodel.xml
grasp_generation/mjcf/meshes/rm_65_description.csv
grasp_generation/mjcf/meshes/rm_65_gazebo.urdf
grasp_generation/mjcf/meshes/rm_65.urdf
grasp_generation/mjcf/meshes/rm_75_description.csv
grasp_generation/mjcf/meshes/rm_75_gazebo.urdf
grasp_generation/mjcf/meshes/rm_75.urdf
grasp_generation/mjcf/meshes/rm_eco65_gazebo.urdf
grasp_generation/mjcf/meshes/rm_eco65.csv
grasp_generation/mjcf/meshes/rm_eco65.urdf
grasp_generation/mjcf/meshes/rml_63_description.csv
grasp_generation/mjcf/meshes/rml_63_gazebo.urdf
grasp_generation/mjcf/meshes/rml_63.urdf
grasp_generation/mjcf/meshes/TH1_z.obj
grasp_generation/mjcf/meshes/TH2_z.obj
grasp_generation/mjcf/meshes/TH3_z.obj
grasp_generation/mjcf/meshes/wrist.obj
grasp_generation/mjcf/meshes/Props/instanceable_meshes.usd
grasp_generation/mjcf/meshes/inspire_calib/inspire_calib.usd
grasp_generation/mjcf/meshes/inspire_free/inspire_free.usd
grasp_generation/mjcf/meshes/meshes/rm_63_arm/base_link.STL
grasp_generation/mjcf/meshes/meshes/rm_63_arm/link1.STL
grasp_generation/mjcf/meshes/meshes/rm_63_arm/link2.STL
grasp_generation/mjcf/meshes/meshes/rm_63_arm/link3.STL
grasp_generation/mjcf/meshes/meshes/rm_63_arm/link4.STL
grasp_generation/mjcf/meshes/meshes/rm_63_arm/link5.STL
grasp_generation/mjcf/meshes/meshes/rm_63_arm/link6.STL
grasp_generation/mjcf/meshes/meshes/rm_65_arm/base_link.STL
grasp_generation/mjcf/meshes/meshes/rm_65_arm/link1.STL
grasp_generation/mjcf/meshes/meshes/rm_65_arm/link2.STL
grasp_generation/mjcf/meshes/meshes/rm_65_arm/link3.STL
grasp_generation/mjcf/meshes/meshes/rm_65_arm/link4.STL
grasp_generation/mjcf/meshes/meshes/rm_65_arm/link5.STL
grasp_generation/mjcf/meshes/meshes/rm_65_arm/link6.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/base_link.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/link1.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/link2.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/link3.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/link4.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/link5.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/link6.STL
grasp_generation/mjcf/meshes/meshes/rm_75_arm/link7.STL
grasp_generation/mjcf/meshes/meshes/rm_eco65_arm/baselink.STL
grasp_generation/mjcf/meshes/meshes/rm_eco65_arm/Link1.STL
grasp_generation/mjcf/meshes/meshes/rm_eco65_arm/Link2.STL
grasp_generation/mjcf/meshes/meshes/rm_eco65_arm/Link3.STL
grasp_generation/mjcf/meshes/meshes/rm_eco65_arm/Link4.STL
grasp_generation/mjcf/meshes/meshes/rm_eco65_arm/Link5.STL
grasp_generation/mjcf/meshes/meshes/rm_eco65_arm/Link6.STL
grasp_generation/mjcf/meshes/realman_inspire_mjmodel_text/realman_inspire_mjmodel_text.usd
grasp_generation/mjcf/meshes/realman_inspire_mjmodel_textured/realman_inspire_mjmodel_textured.usd
grasp_generation/mjcf/meshes/realman_inspire_mjmodel_tool0/realman_inspire_mjmodel_tool0.usd
grasp_generation/mjcf/meshes/realman_mjmodel/realman_mjmodel.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm_75_inspire.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_description.yaml
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_left_hand.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam_____.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam____.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam___.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam__.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam_.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand.urdf
grasp_generation/mjcf/meshes/rm_75_inspire/.thumbs/256x256/rm_75_inspire.usd.png
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_index_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_index_proximal.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_middle_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_pinky_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_thumb_distal.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_thumb_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_thumb_proximal_base.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/left_thumb_proximal.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_index_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_index_proximal.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_middle_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_pinky_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_thumb_distal.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_thumb_intermediate.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_thumb_proximal_base.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/right_thumb_proximal.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_0.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_1.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_2.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_3.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_4.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_5.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_6.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/collision/rm75_link_7.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_converted_rm75_link_0.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_converted_rm75_link_1.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_converted_rm75_link_2.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_converted_rm75_link_3.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_converted_rm75_link_4.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_converted_rm75_link_5.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_converted_rm75_link_6.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_base_link.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_index_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_index_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_middle_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_middle_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_pinky_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_pinky_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_ring_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_ring_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_thumb_distal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_thumb_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_thumb_proximal_base.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_right_thumb_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_0.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_0.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_1.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_1.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_2.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_2.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_3.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_3.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_4.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_4.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_5.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_5.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_6.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/converted_rm75_link_6.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_base_link.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_index_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_index_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_middle_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_pinky_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_thumb_distal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_thumb_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_thumb_proximal_base.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/left_thumb_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/Link7.STL
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/material.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_base_link.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_index_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_index_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_middle_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_pinky_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_thumb_distal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_thumb_intermediate.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_thumb_proximal_base.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/right_thumb_proximal.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_0.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_0.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_0.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_1.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_1.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_1.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_2.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_2.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_2.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_3.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_3.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_3.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_4.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_4.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_4.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_5.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_5.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_5.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_6.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_6.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_6.obj
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_7.glb
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_7.mtl
grasp_generation/mjcf/meshes/rm_75_inspire/meshes/visual/rm75_link_7.obj
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand/rm75_inspire_right_hand.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam/rm75_inspire_right_hand_cam.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam_/rm75_inspire_right_hand_cam_.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam__/rm75_inspire_right_hand_cam__.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam___/rm75_inspire_right_hand_cam___.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam____/rm75_inspire_right_hand_cam____.usd
grasp_generation/mjcf/meshes/rm_75_inspire/rm75_inspire_right_hand_cam_____/rm75_inspire_right_hand_cam_____.usd
grasp_generation/mjcf/meshes_shadow/box.obj
grasp_generation/mjcf/meshes_shadow/F1.obj
grasp_generation/mjcf/meshes_shadow/F2.obj
grasp_generation/mjcf/meshes_shadow/F3.obj
grasp_generation/mjcf/meshes_shadow/forearm_cvx.obj
grasp_generation/mjcf/meshes_shadow/forearm_electric_cvx.obj
grasp_generation/mjcf/meshes_shadow/forearm_electric.obj
grasp_generation/mjcf/meshes_shadow/forearm.obj
grasp_generation/mjcf/meshes_shadow/frame__.obj
grasp_generation/mjcf/meshes_shadow/frame_.obj
grasp_generation/mjcf/meshes_shadow/frame.obj
grasp_generation/mjcf/meshes_shadow/knuckle.obj
grasp_generation/mjcf/meshes_shadow/lfmetacarpal.obj
grasp_generation/mjcf/meshes_shadow/palm.obj
grasp_generation/mjcf/meshes_shadow/TH1_z.obj
grasp_generation/mjcf/meshes_shadow/TH2_z.obj
grasp_generation/mjcf/meshes_shadow/TH3_z.obj
grasp_generation/mjcf/meshes_shadow/wrist.obj
