# soft links
meshdata
experiments
graspdata
dataset
# Caches
__pycache__
cub-1.10.0
1.10.0.tar.gz
isaacgym
TorchSDF
thirdparty
grasp_generation/mjcf/meshes_shadow
grasp_generation/mjcf/meshes_inspire
data/1obj

